.sol-toast-container {
	position: absolute;
	top: 10%;
	right: 2%;
	width: max-content;
	max-width: 100%;
	pointer-events: none;
	z-index: 3;
	max-height: 85%;
	overflow: hidden;
}

.sol-toast-container .toast {
	margin-bottom: 2%;
	transition: all 0.3s ease;
	animation: fadeOut 0.6s ease-out;
	border: 1px solid white;
	border-radius: 0;
	height: fit-content;
	background: transparent;

	display: flex;
	flex-flow: column;
	flex-direction: row;
}

.sol-toast-container .toast.show {
	animation: fadeIn 0.6s ease-in;
}

.sol-toast-container a.toast {
	text-decoration: none;
	text-underline: none;
	color: white;
}

.sol-toast-container .toast .toast-body {
	font-size: 0.8rem;
}

.toast-inner {
	height: 100%;
}

.sol-toast-container .toast, .toast-header, .toast-body {
	color: white;
	background: #111;
}

.toast-header {
	font-weight: bold;
	display: flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
}

.toast-img {
	background: rgba(255,255,255,0.1);
}

.toast-img img {
	height: 90px;
	opacity: 0;
	transition: all 0.3s ease;
}

.toast-img img:not(.loaded) {
	min-width: 90px;
}

.toast-body {
	padding: 0 0.5rem;
	word-wrap: break-word;
}

.fadeIn {
	animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	80% {
		max-height: 500px;
	}
	100% {
		opacity: 0;
		max-height: 0;
	}
}